
<div *ngIf="data">
        <h2>EMPLOYEE DETAILS</h2>
    <table class="custom-table">
        <thead>
            <tr>
                <th>EMP-ID</th>
                <th>EMP-NAME</th>
                <th>EMP-ROLE</th>
                <th>EMP-EMAIL</th>
                <th>EMP-AGE</th>
                <th>EMP-SALARY</th>
                <th>EMP-ADDRESS</th>
                <th id="UD">UPDATE</th>
                <th id="UD">DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of data">
                <td>{{ user.empId }}</td>
                <td>{{ user.empName }}</td>
                <td>{{ user.empRole }}</td>
                <td>{{ user.empEmail }}</td>
                <td>{{ user.empAge }}</td>
                <td>{{ user.empSalary }}</td>
                <td>
                    {{ user.empAddress }}
                </td>
                <td ><button  id="up"><a routerLink="/update">update</a></button></td>
                <td><button id="up"><a routerLink="/delete">delete</a></button></td>
              
            </tr>
        </tbody>
    </table>
</div>

<div >
    <button id="addbtn"><a routerLink="/add">Add+</a></button>
</div>
